#card_main {
    background-color: $bg;
    border: 2px solid $cyan;
}

#card_title {
    background-color: $white;
    padding: 16px;

    border-top: 1px solid $snow;
    border-right: 1px solid $x11grey;
    border-bottom: 1px solid $x11grey;
    border-left: 1px solid $snow;

    #title {
        font-size: 20px;
        font-weight: bold;
        color: $fg;
    }
}

#card_body {
    border-top: 2px solid $cyan;
    border-bottom: 2px solid $cyan;

    #clock {
        font-size: 20px;
        color: $fg;

        border-bottom: 2px solid $cyan;
        padding: 16px;
    }

    #user_info {
        padding: 24px;

        #user_name {
            font-size: 20px;
            color: $fg;
        }

        #term_colors {
            font-size: 18px;

            #c1 {color: $gem1; } 
            #c2 {color: $gem2; }
            #c3 {color: $gem3; }
            #c4 {color: $gem4; }
            #c5 {color: $gem5; }
            #c6 {color: $gem6; }
            #c7 {color: $gem7; }
            #c8 {color: $gem8; }
        }
    }

    #player_info {
        min-height: 40px;
        border-top: 2px solid $cyan;
        padding: 0px 16px 0px 16px;

        #player_box {
            #title,
            #artist {
                color: $fg;
                font-size: 18px;
            }
        }
    }

    #system_info {
        font-size: 18px;
        color: $fg;

        border-top: 2px solid $cyan;
        padding: 24px;

        #subtitle {
            font-size: 20px;
            color: $fg;

            background-color: $yellow;
            margin-bottom: 4px;
            padding: 4px;
        }
    }

    #web_bookmarks {
        padding: 24px;
        border-left: 2px solid $cyan;

        #subtitle {
            font-size: 20px;
            color: $fg;

            background-color: $yellow;
            margin-bottom: 4px;
            padding: 4px;
        }

        #l {
            font-size: 18px;
            color: $fg;
        }
        
        #bm {
            font-size: 18px;
            color: $green;
            border-bottom: 1px solid $green;
        }
        
        #bm:hover {
            color: $cyan;
        }
    }
}

#card_bottom {
    min-height: 16px;
    background-color: $white;

    border-top: 1px solid snow;
    border-right: 1px solid $x11grey;
    border-bottom: 1px solid $x11grey;
    border-left: 1px solid snow;
}
