$fg: #aa0000;
$bg: #ffffee;

$black:     #aa0000;
$red:       #cc4444;
$green:     #ee8888;
$yellow:    #ffdddd;
$blue:      #ffbbbb;
$magenta:   #ffaaaa;
$cyan:      #ffcccc;
$white:     #ffffff;

$gem1: #88ddee;
$gem2: #88bbff;
$gem3: #cc88ff;
$gem4: #ff88cc;
$gem5: #ffbb88;
$gem6: #ffdd88;
$gem7: #bbee88;
$gem8: #88ddee;

$x11grey: #bebebe;
$snow: #fffafa;
