#bar_main {
    background-color: $bg;
    border-right: 1px solid $cyan;
}

#draw_card {
    min-width: 50px;
    min-height: 50px;

    font-size: 22px;
    color: $fg;

    // background: linear-gradient(180deg, $bg, $cyan);
    background-color: $white;
    border-bottom: 1px solid $cyan;

    box-shadow: 1px 1px 2px grey;
}

#draw_card:hover {
    opacity: 0.75;
}

#bar_hp {
    font-size: 22px;
    font-weight: bold;
    color: $fg;
}

#bar_sep {
    min-height: 4px;

    background-color: $cyan;
    border-radius: 2px;
    margin: 8px 12px 8px 12px;
}

#bar_clock {
    font-size: 22px;
    font-weight: bold;
    color: $fg;

    margin-bottom: 16px;
}
