#card_main {
    background-color: $bg;
    border: 1px solid $cyan;
}

#card_title {
    background: linear-gradient(180deg, $bg, $cyan);
    padding: 16px;

    #clock {
        font-size: 20px;
        font-weight: bold;
        color: $fg;
    }
}

#card_body {
    padding: 16px;

    #user_info {
        #user_name {
            font-size: 18px;
            color: $fg;
            margin: 4px;
        }
    }

    #system_info {
        font-size: 16px;
        color: $fg;
        padding: 8px;

        #subtitle {
            font-size: 18px;
            color: $fg;

            background-color: $yellow;
            margin-bottom: 4px;
            padding: 4px;
        }
    }

    #web_bookmarks {
        padding: 8px;

        #subtitle {
            font-size: 18px;
            color: $fg;

            background-color: $yellow;
            margin-bottom: 4px;
            padding: 4px;
        }

        #l1,
        #l2,
        #l3,
        #l4 {
            font-size: 16px;
            color: $fg;
        }
        
        #bm1,
        #bm2,
        #bm3,
        #bm4 {
            font-size: 16px;
            color: $green;
            border-bottom: 1px solid $green;
        }
        
        #bm1:hover,
        #bm2:hover,
        #bm3:hover,
        #bm4:hover {
            color: $cyan;
        }
    }
}

#card_bottom {
    #mpris_box {
        font-size: 16px;
        color: $fg;

        border-top: 1px solid $cyan;
        padding: 8px; 
    }
}
