#card_main {
    background-color: $bg;
    border: 1px solid $cyan;
}

#card_title {
    // background: linear-gradient(180deg, $bg, $cyan);
    background-color: $white;
    padding: 16px;

    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;

    #title {
        font-size: 20px;
        font-weight: bold;
        color: $fg;
    }
}

#card_body {
    border-top: 1px solid $cyan;
    border-bottom: 1px solid $cyan;

    #clock {
        font-size: 20px;
        font-weight: bold;
        color: $fg;

        // background-color: $white;
        border-bottom: 1px solid $cyan;
        padding: 16px;
    }

    #user_info {
        padding: 24px;

        #user_name {
            font-size: 20px;
            color: $fg;
        }

        #term_colors {
            font-size: 18px;

            #c1 {color: $black; } 
            #c2 {color: $red; }
            #c3 {color: $green; }
            #c4 {color: $yellow; }
            #c5 {color: $blue; }
            #c6 {color: $magenta; }
            #c7 {color: $cyan; }
            #c8 {color: $white; }
        }
    }

    #player_info {
        min-height: 40px;
        border-top: 1px solid $cyan;
        padding: 0px 16px 0px 16px;

        #player_box {
            #title,
            #artist {
                color: $fg;
                font-size: 18px;
            }
        }
    }

    #system_info {
        font-size: 18px;
        color: $fg;

        border-top: 1px solid $cyan;
        padding: 24px;

        #subtitle {
            font-size: 20px;
            color: $fg;

            background-color: $yellow;
            margin-bottom: 4px;
            padding: 4px;
        }
    }

    #sep {
        min-width: 1px;
        background-color: $cyan;
    }

    #web_bookmarks {
        padding: 24px;

        #subtitle {
            font-size: 20px;
            color: $fg;

            background-color: $yellow;
            margin-bottom: 4px;
            padding: 4px;
        }

        #l {
            font-size: 18px;
            color: $fg;
        }
        
        #bm {
            font-size: 18px;
            color: $green;
            border-bottom: 1px solid $green;
        }
        
        #bm:hover {
            color: $cyan;
        }
    }
}

#card_bottom {
    min-height: 16px;
    // background: linear-gradient(180deg, $bg, $cyan);
    background-color: $white;

    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}
