#card_main {
    background-color: $bg;
    border: 1px solid $cyan;
}

#card_title {
    #date {
        font-size: 20px;
        color: $fg;
    }

    padding: 8px;
}

#card_header {
    min-height: 0px;

    border-top: 1px solid $fg;
    border-bottom: 1px solid $fg;
}

#card_body {
    #pfp_box {
    }

    #user_info {
        #subtitle {
            font-size: 22px;
            color: $green;
        }

        #user_name {
            font-size: 20px;
            color: $fg;
            border-bottom: 1px solid $fg;
        }

        #host_name {
            font-size: 20px;
            color: $fg;
            border-bottom: 1px solid $fg;
        }

        #term_cols {
            #c1 { color: $black; }
            #c2 { color: $red; }
            #c3 { color: $green; }
            #c4 { color: $yellow; }
            #c5 { color: $blue; }
            #c6 { color: $magenta; }
            #c7 { color: $cyan; }
            #c8 { color: $white; }

            font-size: 14px;
        }

        #uptime {
            font-size: 20px;
            color: $fg;

            background-color: $yellow;
        }

        border-right: 1px solid $fg;
        padding: 0px 16px 0px 16px;
    }

    #sys_info {
        #subtitle {
            font-size: 22px;
            color: $green;
        }

        #brightness,
        #volume {
            font-size: 20px;
            color: $fg;
            border-bottom: 1px solid $fg;
        }

        #network {
            font-size: 20px;
            color: $fg;
        }

        padding: 0px 16px 0px 16px;
    }

    padding: 16px;
}

#card_bottom {
    #web_bookmarks {
        #bm1,
        #bm2,
        #bm3,
        #bm4 {
            font-size: 20px;
            color: $green;
            border-bottom: 1px solid $green;
        }

        #bm1:hover,
        #bm2:hover,
        #bm3:hover,
        #bm4:hover {
            color: $magenta;
            border-bottom: 1px solid $magenta;
        }

        background-color: $white;
        padding: 16px;
    }

    border-top: 1px solid $fg;
}
