#bar_main {
    background-color: $bg;
    border-right: 2px solid $cyan;
}

#draw_card {
    min-width: 50px;
    min-height: 50px;

    font-size: 22px;
    color: $fg;

    background-color: $white;

    border-top: 1px solid snow;
    border-right: 1px solid $x11grey;
    border-bottom: 1px solid $x11grey;
    border-left: 1px solid snow;
}

#draw_card:hover {
    opacity: 0.75;
}

#bar_pad {
    border-top: 2px solid $cyan;
}

#bar_hp {
    font-size: 22px;
    font-weight: bold;
    color: $fg;
}

#bar_sep {
    min-height: 4px;

    background-color: $cyan;
    border-radius: 2px;
    margin: 8px 12px 8px 12px;
}

#bar_clock {
    font-size: 22px;
    font-weight: bold;
    color: $fg;

    margin-bottom: 16px;
}
